In [69]:
#Data initialization from dataset and reading shape

import pandas as pd
import numpy as np

#importing movies csv file.

movies = pd.read_csv('tmdb_5000_movies.csv')
print("The shape of csv files ",movies.shape) #reading the shape of csv file
print("Movies columns:",movies.columns.tolist())

The shape of csv files  (4803, 20)
Movies columns: ['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']

In [70]:
#Data Exploration

print("Exploring first 3 row datas:")
print(movies.head(3)) #first 3 rows
print("="*60)

print("\nExploring last 3 row datas:")
print(movies.tail(3)) #first 3 rows
print("="*60)

print("\nDataset info")
print(movies.info())
print("="*60)

print("\nListing the number of missing datas ")
missing_data=movies.isnull().sum() #counts null per column
print(missing_data[missing_data>0]) #shows only column with missing data here None

Exploring first 3 row datas:
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bondâ€™s past sends him o...  107.376788

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
============================================================

Exploring last 3 row datas:
      budget                                             genres  \
4800       0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801       0                                                 []
4802       0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                 original_title  \
4800  Signed, Sealed, Delivered
4801           Shanghai Calling
4802          My Date with Drew

                                               overview  popularity  \
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  revenue  \
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13        0
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03        0
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05        0

      runtime                          spoken_languages    status  \
4800    120.0  [{"iso_639_1": "en", "name": "English"}]  Released
4801     98.0  [{"iso_639_1": "en", "name": "English"}]  Released
4802     90.0  [{"iso_639_1": "en", "name": "English"}]  Released

                       tagline                      title  vote_average  \
4800                       NaN  Signed, Sealed, Delivered           7.0
4801  A New Yorker in Shanghai           Shanghai Calling           5.7
4802                       NaN          My Date with Drew           6.3

      vote_count
4800           6
4801           7
4802          16
============================================================

Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
============================================================

Listing the number of missing datas
homepage        3091
overview           3
release_date       1
runtime            2
tagline          844
dtype: int64

In [71]:
#Data cleaning
clean=movies.copy()

#filling the missing values via median
clean['runtime'] = clean['runtime'].fillna(clean['runtime'].median())
clean['profit']=clean['revenue']-clean['budget'] #addding a new column

print(clean.shape)

(4803, 21)

In [72]:
# BAsic Analysis

print("Total Movies",len(clean))
print("="*60)
print(f"Average RAting {clean['vote_average'].mean():.2f}")
print("="*60)
print(f"Top 5 highest rated movie ")
top_rated=clean.nlargest(5,'vote_average')[['title','release_date','vote_average','genres']]
print(top_rated)

Total Movies 4803
============================================================
Average RAting 6.09
============================================================
Top 5 highest rated movie
                      title release_date  vote_average  \
3519       Stiff Upper Lips   1998-06-12          10.0
4045  Dancer, Texas Pop. 81   1998-05-01          10.0
4247  Me You and Five Bucks   2015-07-07          10.0
4662         Little Big Top   2006-01-01          10.0
3992              Sardaarji   2015-06-26           9.5

                                                 genres
3519                     [{"id": 35, "name": "Comedy"}]
4045  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4247  [{"id": 10749, "name": "Romance"}, {"id": 35, ...
4662                     [{"id": 35, "name": "Comedy"}]
3992                                                 []

In [73]:
# filtering and Grouping
high_rated =clean[clean['vote_average'] >= 8]

print(f"TOtal number of movies with rating greater than 8 is {len(high_rated)}")
print("="*60)
print(f"High RAted {high_rated}")


print("="*60)
genre =clean.groupby('genres').agg({
    'vote_average': 'mean',
    'revenue': 'mean',
    'title': 'count'}).round(2).sort_values('vote_average')

print(genre)

TOtal number of movies with rating greater than 8 is 85
============================================================
High RAted          budget                                             genres  \
65    185000000  [{"id": 18, "name": "Drama"}, {"id": 28, "name...
77    175000000  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
95    165000000  [{"id": 12, "name": "Adventure"}, {"id": 18, "...
96    160000000  [{"id": 28, "name": "Action"}, {"id": 53, "nam...
262    93000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
...         ...                                                ...
4606     300000  [{"id": 10402, "name": "Music"}, {"id": 99, "n...
4662          0                     [{"id": 35, "name": "Comedy"}]
4678     200000  [{"id": 10402, "name": "Music"}, {"id": 18, "n...
4679          0                [{"id": 99, "name": "Documentary"}]
4755      50000                [{"id": 99, "name": "Documentary"}]

                                          homepage      id  \
65    http://thedarkknight.warnerbros.com/dvdsite/     155
77             http://movies.disney.com/inside-out  150540
95               http://www.interstellarmovie.net/  157336
96           http://inceptionmovie.warnerbros.com/   27205
262                 http://www.lordoftherings.net/     120
...                                            ...     ...
4606            http://www.tupac-resurrection.com/   21525
4662                                           NaN   40963
4678                                           NaN   40920
4679                                           NaN  287815
4755                                           NaN  322745

                                               keywords original_language  \
65    [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
77    [{"id": 1566, "name": "dream"}, {"id": 6513, "...                en
95    [{"id": 83, "name": "saving the world"}, {"id"...                en
96    [{"id": 1014, "name": "loss of lover"}, {"id":...                en
262   [{"id": 603, "name": "elves"}, {"id": 604, "na...                en
...                                                 ...               ...
4606  [{"id": 897, "name": "rap music"}, {"id": 898,...                en
4662        [{"id": 10183, "name": "independent film"}]                en
4678        [{"id": 10183, "name": "independent film"}]                en
4679                                                 []                en
4755                                                 []                en

                                         original_title  \
65                                      The Dark Knight
77                                           Inside Out
95                                         Interstellar
96                                            Inception
262   The Lord of the Rings: The Fellowship of the Ring
...                                                 ...
4606                                Tupac: Resurrection
4662                                     Little Big Top
4678                       The Business of Fancydancing
4679                                    Call + Response
4755                                           Counting

                                               overview  popularity  \
65    Batman raises the stakes in his war on crime. ...  187.322927
77    Growing up can be a bumpy road, and it's no ex...  128.655964
95    Interstellar chronicles the adventures of a gr...  724.247784
96    Cobb, a skilled thief who commits corporate es...  167.583710
262   Young hobbit Frodo Baggins, after inheriting a...  138.049577
...                                                 ...         ...
4606  Home movies, photographs, and recited poetry i...    1.314576
4662  An aging out of work clown returns to his smal...    0.092100
4678  Seymour Polatkin is a successful, gay Indian p...    0.061040
4679  Call + Response is a first of its kind feature...    0.062089
4755  An associative collection of visual impression...    0.293587

                                   production_companies  ... release_date  \
65    [{"name": "DC Comics", "id": 429}, {"name": "L...  ...   2008-07-16
77    [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   2015-06-09
95    [{"name": "Paramount Pictures", "id": 4}, {"na...  ...   2014-11-05
96    [{"name": "Legendary Pictures", "id": 923}, {"...  ...   2010-07-14
262   [{"name": "WingNut Films", "id": 11}, {"name":...  ...   2001-12-18
...                                                 ...  ...          ...
4606  [{"name": "Paramount Pictures", "id": 4}, {"na...  ...   2003-01-23
4662          [{"name": "Fly High Films", "id": 24248}]  ...   2006-01-01
4678  [{"name": "FallsApart Productions", "id": 60360}]  ...   2002-01-14
4679                                                 []  ...   2008-10-10
4755                                                 []  ...   2015-02-09

         revenue  runtime                                   spoken_languages  \
65    1004558444    152.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
77     857611174     94.0           [{"iso_639_1": "en", "name": "English"}]
95     675120017    169.0           [{"iso_639_1": "en", "name": "English"}]
96     825532764    148.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
262    871368364    178.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4606     7808524    112.0           [{"iso_639_1": "en", "name": "English"}]
4662           0      0.0           [{"iso_639_1": "en", "name": "English"}]
4678           0    103.0           [{"iso_639_1": "en", "name": "English"}]
4679           0     86.0                                                 []
4755           0    111.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
65    Released                                    Why So Serious?
77    Released           Meet the little voices inside your head.
95    Released  Mankind was born on Earth. It was never meant ...
96    Released               Your mind is the scene of the crime.
262   Released                          One ring to rule them all
...        ...                                                ...
4606  Released                                   In his own words
4662   Rumored                                                NaN
4678  Released  Sometimes going home is the hardest journey of...
4679  Released  A FILM ABOUT THE WORLD'S 27 MILLION MOST TERRI...
4755  Released                                                NaN

                                                  title vote_average  \
65                                      The Dark Knight          8.2
77                                           Inside Out          8.0
95                                         Interstellar          8.1
96                                            Inception          8.1
262   The Lord of the Rings: The Fellowship of the Ring          8.0
...                                                 ...          ...
4606                                Tupac: Resurrection          8.0
4662                                     Little Big Top         10.0
4678                       The Business of Fancydancing          8.0
4679                                    Call + Response          8.0
4755                                           Counting          8.3

      vote_count     profit
65         12002  819558444
77          6560  682611174
95         10867  510120017
96         13752  665532764
262         8705  778368364
...          ...        ...
4606          26    7508524
4662           1          0
4678           2    -200000
4679           1          0
4755           3     -50000

[85 rows x 21 columns]
============================================================
                                                    vote_average  \
genres
[{"id": 28, "name": "Action"}, {"id": 35, "name...           0.0
[{"id": 53, "name": "Thriller"}, {"id": 35, "na...           0.0
[{"id": 53, "name": "Thriller"}, {"id": 27, "na...           0.0
[{"id": 28, "name": "Action"}, {"id": 35, "name...           1.0
[{"id": 28, "name": "Action"}, {"id": 80, "name...           2.0
...                                                          ...
[{"id": 18, "name": "Drama"}, {"id": 28, "name"...           8.2
[{"id": 12, "name": "Adventure"}, {"id": 14, "n...           8.2
[{"id": 14, "name": "Fantasy"}, {"id": 16, "nam...           8.2
[{"id": 14, "name": "Fantasy"}, {"id": 18, "nam...           8.2
[{"id": 37, "name": "Western"}, {"id": 28, "nam...           9.3

                                                         revenue  title
genres
[{"id": 28, "name": "Action"}, {"id": 35, "name...  0.000000e+00      1
[{"id": 53, "name": "Thriller"}, {"id": 35, "na...  0.000000e+00      1
[{"id": 53, "name": "Thriller"}, {"id": 27, "na...  0.000000e+00      1
[{"id": 28, "name": "Action"}, {"id": 35, "name...  0.000000e+00      1
[{"id": 28, "name": "Action"}, {"id": 80, "name...  0.000000e+00      1
...                                                          ...    ...
[{"id": 18, "name": "Drama"}, {"id": 28, "name"...  1.004558e+09      1
[{"id": 12, "name": "Adventure"}, {"id": 14, "n...  1.593753e+08      1
[{"id": 14, "name": "Fantasy"}, {"id": 16, "nam...  2.347105e+08      1
[{"id": 14, "name": "Fantasy"}, {"id": 18, "nam...  2.846000e+08      1
[{"id": 37, "name": "Western"}, {"id": 28, "nam...  0.000000e+00      1

[1175 rows x 3 columns]

In [75]:
lang = pd.pivot_table(
    clean,
    index='original_language',
    values='title',
    aggfunc='count'
)

print("Movies per Language:")
print(lang)

Movies per Language:
                   title
original_language
af                     1
ar                     2
cn                    12
cs                     2
da                     7
de                    27
el                     1
en                  4505
es                    32
fa                     4
fr                    70
he                     3
hi                    19
hu                     1
id                     2
is                     1
it                    14
ja                    16
ko                    11
ky                     1
nb                     1
nl                     4
no                     1
pl                     1
ps                     1
pt                     9
ro                     2
ru                    11
sl                     1
sv                     5
ta                     2
te                     1
th                     3
tr                     1
vi                     1
xx                     1
zh                    27